body {
margin: 2em;
background-image: linear-gradient(lightyellow, lightgreen, lightblue)

}
p {border-left: medium solid darkblue; padding-left: 5px; font-style: italic;}
.capturas {width: 700px; height: 300px; display: block; margin: auto;}
mark {border-right: medium solid darkred; border-left: medium solid darkred;}
.img {height: 200px;}
table,td {border: medium solid black;}
table,td {text-align: center;}
h1 {font-family: courier;}
h4 {font-family: arial; text-align: center;}
.hoteles {display: block; margin: auto; height: 300px; }
#capturas {width: 300px; height: 500px; display: block; margin: auto;}
h3 {font-family: arial; text-align: center;}
